#table
  %table.table.table-hover
    %thead
      %tr
        %th=#
        %th= I18n.t('views.quizzes.table.header.td1')
        %th= I18n.t('views.quizzes.table.header.td2')
        %th= I18n.t('views.quizzes.table.header.td3')
        %th= I18n.t('general.actions')

    %tbody#quizzes_list
      - if @quizzes.any?
        - @quizzes.each do |quizz|
          = render :partial => 'quizzs/shared/quizz', :locals => { quizz: quizz }
      - else
        %tr.bs-callout.bs-callout-danger-purple
          %td{ :collspan => 5 }
            %h4= I18n.t('views.quizzes.warning_box.no_quizz')
            %p= I18n.t('views.quizzes.warning_box.details')

  .row
    .col-sm-4.big-font
      = link_to I18n.t('views.quizzes.table.actions.new'), new_quizz_path, { :remote => true, :data => { :target => '#modal-default', :toggle => 'modal' }, :class => 'btn btn-info-purple pull-left' }
    .col-sm-4.big-font
      = will_paginate @quizzes
