%dd
  .row
    .col-sm-4
      = link_to user.email, user
    .col-sm-4
      = form_for(user) do |f|
        = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
        = f.submit 'Change Role', :class => 'button-xs'
    .col-sm-4
      = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
    .col-sm-4
      = link_to("Act as", switch_to_user_path(user), :class => 'button-xs') unless user == current_user