.container
  .row
    %h3= I18n.t('views.users.details')
    .col-md-4
      .row
        .col-sm-8
          = @user.name
      .row
        .col-sm-8
          = @user.email
      .row
        .col-sm-8
          %dl
            %dt= I18n.t('views.users.location')
            - if @user.location.empty?
              %dd= I18n.t('views.users.no_location')
            - else
              - @user.location.each do |k, v|
                %dd= "#{k}: #{v}"
      .row
        = link_to I18n.t('views.nav.edit_profile'), edit_user_registration_path
    .col-md-8
      = render 'google_map'
