= simple_form_for(@user_assessment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :grade
    = f.input :current_question_id
    = f.input :state

  .form-actions
    = f.button :submit
