:javascript
  var progress_bar = "#{@user_assessment.quizz.questions.count}"

%h2= @user_assessment.quizz.title
%div{ :id => "progress", :class => "progress progress-warning progress-striped active" }
  %div{ :id => "myprogress", :class => "bar", :style => "width:0px; color:#000;" }
    = I18n.t('general.progress')

= simple_form_for(@user_assessment) do |f|
  = render 'user_assessment'
  = f.button :submit