%h2= @user_assessment.quizz.title
%h3= I18n.t('general.progress')
%div{ :id => "progress", :class => "progress progress-warning progress-striped active" }
  %div{ :id => "myprogress", :class => "bar", :style =>"width:0px" }

= simple_form_for(@user_assessment) do |f|
  = render 'user_assessment'
  .form-actions
    = f.button :submit