- section = 'quizz'
.section
  .col-sm-3.right-side
    = check_box_tag "category_level[one]", 'quizz', render_category_level?(@quizz, section), :name => 'category[options]'
  .col-sm-6.text-bold
    = I18n.t('views.quizzes.form.one_level')
  .quizz-level-section
    %label.noselect.col-sm-5.control-label{for: 'category'}= I18n.t('views.quizzes.form.category')
    .form-group
      .col-sm-4
        = f.input :category_id, collection: Category.filled, required: true, autocomplete: 'off', include_blank: true, label: false, input_html: { class: 'form-control' }
        = f.error :category

- section = 'multiple'
.section
  .col-sm-3.right-side
    = check_box_tag "category_level[multiple]]", 'multiple', render_category_level?(@quizz, section), :name => 'category[options]'
  .col-sm-6.text-bold
    = I18n.t('views.quizzes.form.multiple_level')
