#advice-notifications
.modal-body.resizable-content
  %label.col-sm-3.control-label{for: 'title'}= I18n.t('views.quizzes.form.title')
  .form-group
    .col-sm-8
      = f.text_field :title, :size => '50', :maxlength => '100'
      = f.error :title

  / Build categories if any
  - if Category.filled.any?
    = render :partial => 'admin/quizzs/shared/categories', :locals => { :f => f }

  / Build questions with answers if any
  - if @quizz.questions.any?
    = render :partial => 'admin/quizzs/shared/questions_with_answers', :locals => { :f => f }
    
.modal-footer
  %button.btn.btn-default{data: { dismiss: 'modal' }, type: 'button'}= I18n.t('modal.cancel')
  = f.submit I18n.t('modal.create'), :id => 'add_new_quizz', class: 'button btn btn-green'
